* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
header {
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    height: 90px;
    width: 100%;
    justify-content: space-between;
}
.hero-section {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    height: 500px;
}

.hero-text {
    width: auto;
    height: 500px;
    background-color: beige;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: flex-start;
    
}
.hero-text h1 {
    padding-right: 50px;
    padding-bottom: 20px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 48px;
    color: #76B068;
    cursor: pointer;
    
}
.hero-text p {
    letter-spacing: 1px;
    font-size: 17px;
    color: #64453B;
}
.hero-text img {
    height: 100px;
    padding-left: 20px;
}
.hero-text button {
    background: none;
    color:rgb(100, 69, 59);
    border: 1px solid rgb(100, 69, 59) ;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 5px;

}    
button:hover {
    background-color: rgb(100, 69, 59);
    color:beige;
  
    
}

.hero-image {
    /*height: 500px;
    width: auto;*/
    background-image: url(./images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    
}
.subscribe {
    height: auto;
    width: 100%;
    background-color: rgb(100, 69, 59);
    color:aliceblue;
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 25px;
    letter-spacing: 1px;
    
}

header {
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    height: 90px;
    width: 100%;
    justify-content: space-between;
}
.logo {
    height: 40px;
    object-fit: contain;
}
.logo-menu {
    display: flex;
    flex-direction: row;
}
.logo-div {
    padding-left: 90px;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
    padding-right: 90px;
}
p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff172;
    border-color: transparent;
    border-radius: 8px;
}
button:hover {
    background-color: white;
}
aside {
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: #F9F9F9;
border-radius: 8px;
width: 200px;
height: auto;
}
aside .section {
font-family: 'Work Sans', sans-serif;
}
content {
overflow: hidden;
display: block;
padding: 90px;
}
.side-menu-list {
font-size: 16px;
font-weight: 400;
list-style-type: none;
padding-left: 20px;
padding-top: 20px;
}
.menu-list {
padding-bottom: 20px;
}
.menu-list:hover {
color: #fff172;
}
footer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #EFEFEF;
height: 200px;
border-top: 20px solid #F9F9F9;
gap: 30px;
width: 100%;
bottom: 0;
}
.footer-links {
font-family: 'Work Sans', sans-serif;
font-weight: 300;
display: flex;
flex-direction: row;
list-style-type: none;
gap: 60px;
}
.social-media-button {
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
border-radius: 50%;
}
.social-media-icons {
display: flex;
flex-direction: row;
gap: 30px;
}
.chevron {
width: 8px;
margin-left: 20px;
}
.social-media-icon-pic {
width: 40px;
}
.burger-menu {
    height: 20px;
    width: 100%;
    object-fit: contain;
}
.mobile-menu {
    background-color: #fff172;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.mobile-menu:active {
    background-color: white;
}


@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .hero-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .hero-image {
        width: 100%;
        height: 250px;
        order: -1;
    }
    .hero-text {
        display: grid;
        grid-template-columns: 70% 30%;
        height: 80px;
        padding: 15px 20px;
    }
    .hero-text h1 {
        font-size: 20px;
        padding: none;
    }
    .hero-text p {
        font-size: 10px;
    }
    .hero-text img {
        display: none;
    }
    .hero-text button {
        display: none;
    }
    .subscribe {
        font-size: 10px;
        height: auto;
        padding: 5px 0 5px 0;
    }
            .menu-header {
            display: none;
            }
            .sign-up {
            display: none;
            }
            aside {
            display: none;
            }
            .logo-div {
            padding-left: 30px;
            }
            header {
            justify-content: space-between;
            }
            footer {
            height: 300px;
            padding-top: 10px;
            padding-bottom: 10px;
            }
            .footer-links {
            flex-direction: column;
            gap: 10px;
            text-align: center;
            }
            .social-media-icon-pic {
            width: 30px;
            }
            .social-media-icons {
            padding-top: 20px;
            }
            .mobile-menu {
                margin-right: 30px;
            }

    }
@media screen and (min-device-width: 768px)
and (max-device-width: 1010px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .hero-image {
        width: 100%;
        height: 350px;
        order: -1;
    }
    .hero-text {
        display: grid;
        grid-template-columns: 70% 30%;
        height: 80px;
        padding: 15px 20px;
    }
    .hero-text h1 {
        font-size: 30px;
        padding: none;
    }
    .hero-text p {
        font-size: 15px;
    }
    .hero-text img {
        display: none;
    }
    .hero-text button {
        display: none;
    }
    .subscribe {
        font-size: 15px;
        height: auto;
        padding: 5px 0 5px 0;
    }
    .menu-header {
        display: none;
        }
        .sign-up {
        display: none;
        }
        aside {
        display: none;
        }
        .logo-div {
        padding-left: 30px;
        }
        header {
        justify-content: space-between;
        }
        footer {
        height: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        .footer-links {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        }
        .social-media-icon-pic {
        width: 30px;
        }
        .social-media-icons {
        padding-top: 20px;
        }
        .mobile-menu {
            margin-right: 30px;
        }
}
@media screen and (min-width: 1024px) {


    .mobile-menu {
    display: none;
    }
    }